/plan/*
/results*
/papers/*
.DS_Store
/bin/__pycache__
**/__pycache__
/logs/*
test/
scratch
analysis/example
tests/
status.md
syz049*
research1
bin/gs2
work/
.nextflow*
.pytest_cache/
page8*
dataset/data/
dataset/results
bin/indelible
bin/iqtree
bin/iqtree2
bin/mafft